@charset "utf-8";
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, button, p, span {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Microsoft YaHei', Simsun;
}



ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
}

a:hover, a:active {
    color: #c00;
    text-decoration: underline;
}
.dib {
    display: inline-block;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.di {
    display: inline;
}

.tac {
    text-align: center;
}
.vh{
    visibility: hidden;
}
.taj {
    text-align: justify;
    line-height: 0;
    font-size: 0;
}

.taj:after {
    display: inline-block;
    width: 100%;
    content: '';
}
canvas{
    display:block;
    vertical-align:bottom;
}
hr {
    margin-top: 5px; !important;
    height: 3px; !important;

}
/************divide***********/

